<?php

if (strstr($_SERVER['HTTP_USER_AGENT'], 'iPhone')) {

    header('Location: rtmp://'.$_SERVER['HTTP_HOST'].'/rtmp/live');
    exit();
}
?>

<!DOCTYPE html>
<html>
<head>
<title>{{ inventory_hostname }} Cam</title>
<!-- strobe -->
<script type="text/javascript" src="strobe/lib/swfobject.js"></script>
<script type="text/javascript">
{% for host in groups['cameras'] %}

    var parameters{{ host }} = {
         src: "rtmp://<?php echo $_SERVER['HTTP_HOST'] ?>/rtmp/{{ hostvars[host]['rtmp_stream_name'] | default(host) }}",
         autoPlay: true,
         controlBarAutoHide: false,
         playButtonOverlay: true,
         showVideoInfoOverlayOnStartUp: false,
         optimizeBuffering : false,
         initialBufferTime : 0.1,
         expandedBufferTime : 0.1,
         minContinuousPlayback : 0.1,
         poster: "images/poster.png"
    };
    swfobject.embedSWF(
        "strobe/StrobeMediaPlayback.swf"
        , "StrobeMediaPlayback{{ host }}"
        , 1024
        , 768
        , "10.1.0"
        , "strobe/expressInstall.swf"
        , parameters{{ host }}
        , {
            allowFullScreen: "true"
        }
        , {
            name: "StrobeMediaPlayback"
        }
    );
{% endfor %}
</script>


</head>
<body>

{% for host in groups['cameras'] %}
        <div id="StrobeMediaPlayback{{ host }}"></div>
        <p>
                <a href="rtmp://<?php echo $_SERVER['HTTP_HOST'] ?>/rtmp/{{ hostvars[host]['rtmp_stream_name'] | default(host) }}">{{ host }}</a>
        </p>
{% endfor %}

</body>
</html>