[Unit]
Description=Video Stream
After=syslog.target network.target remote-fs.target nss-lookup.target nginx.service

[Service]
Type=simple
ExecStart=/usr/bin/gst-launch-1.0 {{ gst_source_params }} ! video/x-h264,framerate=20/1 ! h264parse ! flvmux ! rtmpsink location='rtmp://{{ rtmp_destination_host }}/rtmp/{{ rtmp_stream_name }} live=1'

ExecStop=/usr/bin/killall gst-launch-1.0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target