#!/bin/bash

#/usr/bin/raspivid -n -w 1280 -h 720 -b 4500000 -fps 30 -vf -hf -t 0 -o - | /usr/bin/cvlc stream:///dev/stdin --sout '#rtp{sdp=rtsp://:5540/}' :demux=h264

vlc v4l2:// :v4l2-dev=/dev/video0 :v4l2-width=1024 :v4l2-height=768 --sout="#transcode{vcodec=h264,vb=800,scale=1,acodec=none}:rtp{sdp=rtsp://:5540/}" -I dummy
