[Unit]
Description=RTSP Video Stream
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/local/bin/start_stream.sh
User=mikey

ExecStop=/usr/bin/killall vlc
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target