[Unit]
Description=Seafile
# add mysql.service or postgresql.service depending on your database to the line below
After=network.target mnt-external.mount

[Service]
Type=oneshot
ExecStart={{ seafile_dir }}/seafile-server-latest/seafile.sh start
ExecStop={{ seafile_dir }}/seafile-server-latest/seafile.sh stop
RemainAfterExit=yes
User=root
Group=root

[Install]
WantedBy=multi-user.target