<clouds>
    <S3>
        <bucket type="text">{{ kerberosio_cloud.bucket }}</bucket>
        <folder type="text">{{ kerberosio_cloud.folder }}</folder>
        <publicKey type="text">{{ kerberosio_cloud.public_key }}</publicKey>
        <privateKey type="text">{{ kerberosio_cloud.private_key }}</privateKey>
    </S3>
</clouds>